<h3>BBCode</h3>
<p>
	BBCode vám umožňuje ve svých příspěvcích formátovat text. Například <strong>tučně</strong>
	nebo <em>kurzívou</em>.
</p>
<p>
	Pokud chcete například napsat slovo tučně, napíšete něco takového: [b]ahoj[/b]. Ve vaší zprávě se pak slovo objeví jako <strong>ahoj</strong> a značky [b] a [/b] vidět nebudou.
</p>
<p>K dispozici jsou následující formátovací značky:</p>
<ul>
	<li>
		<strong>[b]</strong>
		a
		<strong>[/b]</strong>
		udělá slovo
		<strong>tučné</strong>
		- např. [b]poníci[/b].
	</li>
	<li>
		<strong>[i]</strong>
		a
		<strong>[/i]</strong>
		udělá slovo <em>kurzívou</em>
		- např. [i]senzační![/i].
	</li>
	<li>
		<strong>[img]</strong>
		a
		<strong>[/img]</strong>
		vloží obrázek - např. [img]http://mahara.org/favicon.ico[/img]
	</li>
	<li>
		<strong>[url]</strong>
		a
		<strong>[/url]</strong>
		vloží odkaz - např. [url]http://google.co.nz[/url] nebo [url=http://google.co.nz/]Google[/url]
	</li>
</ul>
<p>
	Pamatujte však, že odkazy ve vašich příspěvcích budou automaticky převedeny na klikací.
</p>