 <h3>Kategorie vzhledů stránek</h3>
 <p>
 	Jednotlivé vzhledy stránek jsou rozděleny do několika kategorií. V menu vyberte tu kategorii, jejíž popis odpovídá těm vzhedům, které chcete vidět. Pro zobrazení všech dostupných vzhledů vyberte položku "Všechny vzhledy stránek".
 </p>