<h3>Čekající žádosti o členství</h3>
<p>
	V závislosti na způsobu členství, který jste nastavili pro svou skupinu, se budou na tomto místě zobrazovat žádosti o členství čekající na vyřízení. Na nové žádosti budete také upozorněni pomocí oznámení. Poté, co přijmete nebo odmítnete žádost, bude uživatel o vašem rozhodnutí informován.
</p>