<h3>Komentáře s hodnocením</h3>

<p>Zapněte tuto volbu pro povolení hodnocení položek a stránek portfolia.</p>

<p>Můžete nastavit hodnotící škálu s rozsahem 3-12 položek. Zvolte také zobrazovanou ikonu a její barvu.</p>

<p>Pokud změníte počet možností na hodnotící škále, stávající hodnocení nebudou přepočítány tak, aby odpovídali nové škále.</p>

<p>Mějte na paměti, že hodnocení musí být doplněno o komentář nebo přílohu.</p>
