<h3>Jak vložit obsah?</h3>
<h4>Google Docs</h4>
<p>
V Google Apps pro vzdělávání je sdílení jednotlivých souborů stejné jako s klasickým Google Apps účtem.
</p>
<p>
Váš správce stránek mohl nastavit službu Google Apps tak, že pouze členové vaší instituce mohou vidět vaše sdíelené soubory.
<br>
V takovém případě bude návštěvník vyzván k přihlášení do Google účtu a po přihlášení se mu obsah zobrazí.
</p>
<p><strong>Docs</strong></p>
<ol>
	<li>Otevřete dokument.</li>
	<li>Klepněte na <em>Soubor</em> v panelu nabídky a vyberte <em>Publikování na webu</em>.
	</li>
	<li>Klepněte na tlačítko <em>Publikovat</em>.
	</li>
	<li>Zkopírujte <em>odkaz na dokument</em> nebo <em>kód pro vkládání</em>.</li>
	<li>Kód vložte do bloku Google Apps.</li>
</ol>
<p><strong>Spreadsheets</strong></p>
<ol>
	<li>Otevřete tabulku.</li>
	<li>Klepněte na <em>Soubor</em> v panelu nabídky a vyberte <em>Publikování na webu</em>.</li>
	<li>Klepněte na tlačítko <em>Publikovat</em>.
	</li>
	<li>Pročtěte si nastavení a zvažte jejich použití.</li>
	<li>Zkopírujte <em>odkaz na tabulku</em> nebo <em>HTML kód pro vkládání na webu</em>.</li>
	<li>Kód vložte do bloku Google Apps.</li>
</ol>
<p><strong>Presentations</strong></p>
<ol>
	<li>Otevřete prezentaci.</li>
	<li>Klepněte na tlačítko <em>Sdílet</em> a potom na <em>Získat odkaz ke sdílení</em> v pravém horním rohu. <br> <strong>NEBO</strong> Klepněte na <em>Soubor</em> v panelu nabídky a vyberte <em>Publikování na webu</em>.
	</li>
	<li>Klepněte na tlačítko <em>Publikovat</em>.
	</li>
	<li>Zkopírujte odkaz nebo kód pro vkládání.</li>
	<li>Kód vložte do bloku Google Apps.</li>
</ol>
<p><strong>Collections</strong></p>
<ol>
	<li>Klepněte na šipku směřující doprava na název kolekce a potom na <em>Sdílet</em> a opět na <em>Sdílet</em>.</li>
	<li>Změňte oprávnění na <em>Veřejné na webu</em> a změny uložte.</li>
	<li>Zkopírujte odkaz.</li>
	<li>Kód vložte do textového pole v bloku Google Apps.</li>
</ol>
<p><strong>Google Docs Viewer</strong></p>
<p>Pokud máte přístup k Google Docs dokumentu (například PDF soubor) jiného uživatele, můžete ho vložit následujícím způsobem: 
</p>
<ol>
	<li>Klepněte na <em>Soubor</em> a potom na <em>Vložit tento soubor PDF... / Vložit odkaz...</em>.</li>
	<li>Zkopírujte kód pro vložení.</li>
	<li>Kód vložte do bloku Google Apps.</li>
</ol>
<p>Také můžete dokument exportovat do vašich Google Dokumentů a zacházet s ním jako s jakýmkoliv jiným dokumentem (viz sekce Google Docs výše).
</p>
<h4>Google Calendar</h4>
<ol>
	<li>Otevřete Google Kalendář</li>
	<li>Klepněte na malý trojúhelník napravo od názvu kalendáře, který si přejete vložit.</li>
	<li>Klepněte na <em>Nastavení kalendáře</em>.</li>
	<li>Přejděte na panel <em>Sdílet tento kalendář</em>, zaškrtněte pole <em>Učinit tento kalendář veřejným</em> a uložte.</li>
	<li>Jděte zpět do panelu <em>Podrobnosti kalendáře</em> a zde zkopírujte adresu na HTML kalendář.</li>
	<li>Kód vložte do bloku Google Apps.</li>
</ol>
<h4>Google Maps</h4>
<ol>
	<li>Otevřete Mapy Google</li>
	<li>Klepněte na <em>Moje mapy</em>.</li>
	<li>Klepněte na jméno mapy, kterou budete vkládat.</li>
	<li>Vpravo dole klepněte na ikonu ozubeného kolečka.</li>
	<li>Zkopírujte odkaz nebo kód pro vkládání.</li>
	<li>Kód vložte do bloku Google Apps.</li>
</ol> 
<p><strong>Poznámka:</strong>
Kroky 2 a 3 použijte v případě, že chcete vkládat <strong>vlastní</strong> mapu. V případě, že chcete vkládat jiné mapy, tak tyto kroky můžete přeskočit.</p>
<h4>Google Books</h4>
<ol>
	<li>Otevřete Knihy Google.</li>
	<li>Najděte knihu, kterou chcete vložit.</li>
	<li>Klpeněte na název knihy.</li>
	<li>Klepněte na ikonu <em>Odkazu</em> nad knihou. Ikona se objeví pouze pokud máte oprávnění knihu vkládat.
	</li>
	<li>Zkopírujte kód pro vkládání.</li>
	<li>Kód vložte do bloku Google Apps.</li>
</ol>