<h3>Kontaktní údaje</h3>
<p>Vaše kontaktní údaje jsou převzaty přímo z vašeho <b>Profilu</b>, kde jsou uloženy a kde je také můžete upravovat.  Chcete-li ke kontaktním údajům něco přidat nebo je upravit, klikněte na <b>Upravit profil</b>.  Jakmile vložíte požadované informace, klikněte na <b>Můj životopis</b> a vrátíte se k úpravě svého životopisu.</p>
<p> Nezapomeňte, že chcete-li uchovat jakékoliv informace, které jste do životopisu vložili, musíte kliknout na <b>Uložit</b>, než se vrátíte do profilu.</p>
