<h3>Počáteční datum</h3>
<p>Jedná se o datum, kdy jste začali studovat na dané instituci nebo organizaci. Datum můžete vložit v jakémkoliv formátu, například "2. dubna 2008" nebo "listopad 2005".</p>
