<h3>Zájmy</h3> <p>Sekce zájmy umožňuje zadat vaše osobní a/nebo profesní zájmy. Mohou sem patřit vaše koníčky, sportovní aktivity, dobrovolnické práce, oblasti výzkumu či odbornosti a podobně. Seznam vašich zájmů pomůže zaměstnavatelům vytvořit si lepší obrázek o tom, kdo jste a co byste přinesli jejich organizaci.</p>
