<h3>Štítky</h3>
<p>K výtvorům i pohledům vytvořeným v Mahaře můžet přiřadit štítky.  Štítky vám umožní přidat k výtvorům a pohledům popisné nálepky a vytvořit si tak jejich tříděný seznam.</p>
<p>Chcete-li přiřadit k výtvoru nebo pohledu více štítků, oddělte jednotlivé Štítky čárkami.  Například - ‘hodnocení, druhé pololetí, výsledky’.</p>
<p>Kliknutím na <b>Ukaž mé štítky</b> zobrazíte seznam štítků, které jste již ve svém portfoliu použili a jak často byly tyto štítky vloženy. Kliknutím na již existující štítek ho přiřadíte k seznamu štítků pro výtvor nebo pohled, který právě vytváříte nebo upravujete.</p>
<p>Pomocí <b>Prohledej mé Portfolio</b> můžete najít všechny výtvory a pohledy, ke kterým jste přiřadili konkrétní štítek, a můžete tak vytvořit systém složek nebo obsah svého portfolia.</p>
