<h3>Je atribut člena v DN?</h3>
<p>
Toto nastavení zapněte, pokud je údaj v poli "Atribut členství ve skupině" Distinguished Name. 
Toto nastavení vypněte, pokud je údaj v poli "Atribut členství ve skupině" pouze uživatelské jméno.
</p>