<h3>Pokud není uživatel dále uveden v LDAP</h3>
<p>
Toto nastevení určuje, co se má stát v případě, kdy uživatel vaší instituce nemá na LDAP serveru korespondující záznam.
</p>
<p> <b>Poznámka:</b>
Toto nastavení se týká pouze těch uživatelů, kteří se autentizují pomocí LDAP. 
</p>
<dl>
	<dt>Nedělat nic</dt>
	<dd>Neprovede se žádná akce. (Toto nastavení je doporučené.)</dd>
	<dt>Pozastavit uživatelský účet</dt>
	<dd>Uživatelský účet bude pozastaven. Uživatel se nadále nebude moci přihlásit a jeho stránky přestanou být viditelné. Žádná data však nejsou smazána a účet může být obnoven buď manuálně správcem stránek, nebo automaticky tím, že se záznam znovu objeví na LDAP serveru.</dd>
	<dt>Smazat uživatelský účet včetně veškerého obsahu</dt>
<dd> <b>Používejte opatrně!</b> Uživatelský účet bude smazán spolu s veškerým jeho obsahem a portfolii v něm drženými. Data budou úplně odstraněna ze serveru. Pokud by byla nějaká data z tohoto účtu ještě potřeba, k obnovení účtu bude potřeba úplná záloha instance.</dd></dl>
