<h3>Synchronizovat skupiny automaticky pomocí cronu</h3>
<p>
Toto nastavení aktivuje úlohu v cronu, která automaticky vytváří nebo upravuje skupiny a jejich členství v závislosti na záznamech LDAP serveru. Ve výchozím nastavení se tato úloha cronu provádí jednou denně o půlnoci. Pokud chcete určit jiný čas provádění úlohy, je nutné upravit záznam v tabulce "auth_cron" nebo využít skriptů, které se nachází ve složce "htdocs/auth/ldap/cli/".
</p>
<p> <b>Poznámka:</b>
Pro synchronizaci skupin je také nutné aktivovat nastavení "Synchronizovat skupiny uložené jako objekty" nebo "Synchronizovat skupiny uložené jako atributy uživatele".
</p>
<p>
Členství ve skupině může být tímto nastavením jak přiřazováno, tak odebíráno. Jestliže se skupina v LDAP záznamech již nenachází, budou všichni uživatelé z této skupiny vyřazeni. 
</p>
<p>
Toto nastavení nebude mít žádný vliv, pokud cron na serveru neběží. Více informací o nastavení naleznete v
<a href="http://wiki.mahara.org/System_Administrator's_Guide/Installing_Mahara">průvodci instalací</a>.
</p>