<h3>Synchronizovat skupiny uložené jako objekty LDAP</h3>
<p>
Tuto možnost povolte v případě, že jsou skupiny ukládány v LDAP jako samostatné záznamy. 
</p>
<p>Příklad:</p>
<pre> dn: cn=languagestudents,ou=groups,dc=mahara,dc=org objectClass: groupOfUniqueNames cn: languagestudents uniqueMember: uid=user1,dc=mahara,dc=org uniqueMember: uid=user2,dc=mahara,dc=org uniqueMember: cn=frenchclass,ou=groups,dc=mahara,dc=org </pre>