<h3>Synchronizovat skupiny uložené jako atributy uživatele</h3>
<p>
Tuto možnost povolte v případě, že každý LDAP záznam o uživateli má atribut, který určuje skupinu, do které uživatel patří. Toto nastavení způsobí, že se pro každou jedinečnou hodnotu tohoto atributu (nebo jen pro hodnoty určené v poli "Pouze tyto názvy skupin") vytvoří při synchronizaci skupina, do níž jsou příslušní uživatelé přesunuti. Pokud atribut určující skupinu obsahuje více hodnot, stane se uživatel členem více skupin. 
</p>