<h3>Další LDAP filtr pro synchronizaci</h3>
<p>
Zde můžete uvést LDAP filtr, který zajistí, že synchronizováni budou jen ti uživatelé, kteří tímto filtrem projdou.
</p>
<p>
Toto nastavení používejte s rozvahou, máte-li zapnuté funkce na automatické pozastavování a odstraňování účtů. V takovém případě budou totiž všechny uživatelské účty, které <b>nevyhovují</b> filtru pozastaveny nebo odstraňeny.  
</p>
<p>Příklad: uid=user*</p>