<h3>Synchronizovat skupiny pouze z těchto kontextů</h3>
<p>
Vypište kontexty, kde se skupiny nachází. Jednotlivé kontexty oddělujte středníkem, např.: 'ou=groups,o=org;ou=other,o=org'.
</p>
<p>
V případě, že toto pole necháte prázdné, bude synchronizační skript používat kontexty uvedené v nastavení "Kontexty", aby zjistil, kde se uživatelé nachází. 
</p>