<h3>Synchronizovat vnořenou skupinu</h3>
<p>
Toto nastavení zapněte v případě, že vaše skupiny obsahují jiné skupiny jako své členy. Pokud je nastavení zapnuté, synchronizační proces rekurzivně zařadí členy vnořených skupin do skupiny rodičovské. Při výskytu cyklického odkazu je rekurze bezpečně pozastavena. 
</p>