<h3>Pod jakým DN se má provést bind</h3>
<p>
Pokud chcete provést bind (ověření) pod určitým DN, můžete ho specifikovat zde. Například: 'cn=ldapuser,ou=public,o=org'. Pro anonymní bind ponechte toto pole prázdné.
</p>