<h3>Propojení přihlašování</h3> <p>Povolit uživatelům provázat jejich vlastní lokální účet s  ověřeným LDAP účtem. Záleží na emailové adrese poskytnuté přes LDAP. Ta se musí shodovat s uživatelským jménem v Mahaře.</p>