<h3>Pouze tyto názvy skupin</h3>
<p>
Při synchronizaci skupin založených na uživatelských atributech se vytvoří pouze ty, které mají uvedené názvy. Toto nastavení nijak neovlivní skupiny vytvářené přes "Synchronizovat skupiny uložené jako objekty LDAP" (pokud je nastavení aktivní).
<p>