<h3>Přesné vyhledávání uživatelů</h3>
<p>
Pokud vaše stránky mají hodně uživatelů a využívají databázi PostgreSQL, potom bude vyhledávání uživatelů rychlejší, když tuto možnost zapnete. Nastavení bude fungovat i s MySQL databází, ale významné zvýšení rychlosti je nepravděpodobné. 
</p>
<p>
Avšak zapnutí této volby způsobí, že částečné dotazy přestanou vracet výsledky. Pokud například budete hledat uživatele "Honza", nebude k jeho nalezení stačit výraz "Honz". 
</p>