<h3>Upravit</h3>
<p>Zaškrtnutím políčka nalevo od tématu zvolte daná témata a následně určete, jak mají být upravena.</p>
<p><strong>Odběr</strong>: budete dostávat upozornění na příspěvky k vybraným tématům.</p>
<p><strong>Zrušit odběr</strong>: nebudete dostávat upozornění na příspěvky k vybraným tématům.</p>
