<h3>Skupinové soubory</h3>
<p>Prostor skupinových souborů je úložištěm sdílených složek a souborů, které lze použít na stránkách vašich skupin.</p>
<p>Své soubory a složky můžete přesouvat tažením myší.</p>
<!-- <p>Váš správce může z bezpečnostních důvodů zakázat nahrávání některých typů souborů do systému.</p> -->
