<h3>Mé soubory</h3>
<p>Prostor pro vaše soubory je úložištěm složek a souborů, které můžete použit v rámci svého portfolia.</p>
<p>Množství souborů, které můžete nahrát do prostoru pro vaše soubory, zavisí na nastaveném limitu, který je zobrazen v políčku Kvóta na pravé straně obrazovky.</p>
<p>V dialogovém okně můžete vybrat naráz několik souborů k nahrání.</p>
<p>Své soubory a složky můžete přesouvat myší.</p>
