<h3>Soubory stránek</h3> <p>Tato sekce funguje podobně jako sekce pro soubory uživatele. Zde nahrané soubory jsou dostupné pro přihlášené uživatele, soubory v adresáři 'public' jsou dostupné všem návštěvníkům stránek, kteří zadají správné URL.</p>