<h3>Nevhodný obsah v tématech a příspěvcích na fóru</h3> <p>Zprávy administrátorům obsahující stížnosti uživatelů ohledně nevhodného obsahu na fóru (může jít o témata či příspěvky).</p> <p>Administrátoři zahrnují síťové administrátory, administrátory skupin a moderátory fór.</p>