<h3>Automatické přihlášení členů skupiny k odběru</h3>
<p>Chcete-li, aby byli členové skupiny automaticky přihlašování k odběru příspěvků tohoto fóra, jakmile se do něho přihlásí, zvolte tuto možnost.</p>
<p>Uživatelé, kteří jsou přihlášeni k odběru, dostávají upozornění, kdykoliv se v daném fóru objeví nový příspěvek nebo odpověď.</p>
<p>Pokud je zapnuta možnost ‘Povolit členům skupiny možnost neodebírat, členové skupiny se mohou odhlásit od odběru, pokud na budoucí příspěvky upozorňováni být nechtějí.</p>