
<h3>URL pro aktualizaci metadat</h3> <p>Pokud bude v tomto poli poskytnuto validní URL,  SAML plugin automaticky stáhne nejnovější metadata a logicky je uloží. Tím zaniká potřeba aktualizovat metadata vždy, když se změní u vašeho poskytovatele identity. Aby byla metadata zkontrolována, je potřeba, aby běžel cron.</p> <p><strong>Poznámka:</strong>: Data z tohoto URL budou mít přednost před XML metadaty (pokud byla nějaká vložena) a nahradí je.</p>
