<h1>Ověřovcí otisk aktualizace metadat</h1> <p>Pokud je poskytnuta platná URL v poli "Metadata URL pro automatickou aktualizaci", můžete specifikovat otisk certifikátu používaný k podpisu metadat. Pokud nechcete ověřovat podpis na metadatech, tuto možnost nepotřebujete.</p>