<h3>Atribut instituce</h3>
<p>
Tento atribut, předávaný poskytovatelem identity (IdP), dává informaci o tom, do jaké instituce uživatel patří. Obvykle přímo souvisí s LDAP atributy (přihlašovací služba IdP). Příklad: eduPersonOrgDN.
</p>