<h3>Hodnota instituce pro kontrolu vůči atributu</h3>
<p>
Tato hodnota se použije pro kontrolu 'Atributu instituce', který je předávaný poskytovatelem identity (IdP) a dává informaci o tom, do jaké instituce uživatel patří. Pokud je zaškrtnuto 'Ztotožněte dílčí řetězec se zkráceným jménem instituce', pak tato hodnota může být regulární výraz.
</p>