<h3>Povolit uživatelům odkazovat na vlastní účet</h3>
<p>
Toto nastavení dovolí uživatelům odkazovat ze svého místního účtu na ověřený SAML účet. Tato funkce závisí na zapnutí možnosti 'Ztotožněte atribut uživatelského jména se vzdáleným uživatelským jménem'.
</p>