<h3>Ztotožněte dílčí řetězec se zkráceným jménem instituce</h3>
<p>
Pokud zaškrtnete toto zaškrtávací pole, pak bude hodnota v poli 'Hodnota instituce pro kontrolu vůči atributu' považována za regulární výraz.  
</p>