<h3>Aktualizovat uživatelské údaje při přihlášení</h3>
<p>
Pokud je tato možnost zapnutá, pak bude uživatelovo jméno, příjmení a e-mailová adresa při přihlášení aktualizována dle dat poskytnutých poskytovatelem identity (IdP).  
</p>