 <h3>Podpisový algoritmus</h3> <p>Toto je algoritmus, který bude použit k podepisování SAML požadavků.</p> <p><strong>Varování:</strong> SHA1 algoritmus je k dispozici jen z důvodu zpětné kompatibility. Pokud není jeho užití bezpodmínečně nutné, doporučujeme místo něj použít aspoň SHA256.</p>