<h3>Adresář pro konfiguraci SimpleSAMLphp</h3>
<p>
Úplná cesta k adresáři, který obsahuje konfigurační soubor SimpleSAMLphp. Například: Pokud cesta k souboru config.php je 'slozka/simplesamlphp_1_3/config/config.php', potom zde vložte hodnotu 'slozka/simplesamlphp_1_3/config/'.
</p>