<h3>Adresář pro knihovny SimpleSAMLphp</h3>
<p>
Úplná cesta k adresáři, který obsahuje knihovny SimpleSAMLphp. Například: Pokud cesta k souboru autoload.php je 'slozka/simplesamlphp_1_3/lib/autoload.php', potom zde vložte hodnotu 'slozka/simplesamlphp_1_3/lib/'.
</p>