<h3>Deníky</h3>
<p>Deník je nástroj podobný blogu, který vám umožňuje zaznamenávat vaše nápady a zkušenosti.</p>
<p>Ve výchozím nastavení můžete své deníky číst pouze vy. Přidáte-li deník do stránky portfolia, umožníte lidem tento deník číst a přidávat k němu komentáře.</p>
<p>Nejprve je třeba, abyste si deník vytvořili a potom do něj můžete přidávat záznamy. Můžete mít tolik různých deníků, kolik chcete.</p>
