<h3>Aktualizovat informace o uživateli při přihlášení</h3>
<p>
	Vyberte tuto možnost, pokud chcete při každém přihlášení aktualizovat záznam o uživateli na vaší instalaci Mahary ze vzdáleného serveru.
</p>