<h3>Importovat obsah</h3>
<p>
	Pokud vzdálená webová aplikace tuto možnost podporuje, pak mají uživatelé možnost importovat obsah z těchto stránek do vaší instalace Mahary. 
</p>
<p>
	Tato volba je závislá na aktivaci 'Příchozí SSO' a také je doporučeno mít zapnutou funkci "Automaticky vytvořit uživatele".
</p>