<h3>Číslo portu</h3> <p>Číslo portu, na kterém pracuje vzdálená aplikace. Tuto hodnotu pravděpodobně nebudete potřebovat změnit, pokud se připojujete k službě https nebo vzdálená aplikace nepracuje na nestandardním portu.</p>