<h3>Aktualizovat informace o uživateli při přihlášení</h3>
<p>
	Vyberte tuto možnost pokud chcete při přihlášení uživatele přenést data ze vzdálené stránky a aktualizovat záznam o uživateli na vaší instalaci Mahary.
</p>