<h3>Limit skupiny</h3> <p>Této skupině byl vyhrazen omezený limit využití úložiště pro nahrávání souborů do systému. Pokud se blížíte k tomuto limitu, kontaktujte správce stránek ohledně navýšení lmitu.</p>