<h3>Diskový prostor</h3>
<p>Bylo vám přiděleno pevné množství úložného prostoru, kam můžete nahrávat své soubory. Jestliže se blížíte jeho limitu, obraťte se na správce s prosbou o jeho navýšení.</p>
