<h3>Komerční užití</h3>
<p>
Umožňuje ostatním rozmnožovat, rozšiřovat, vystavovat a sdělovat dílo i pro výdělečné účely.
</p>
<h3>Pouze nekomerční užití</h3>
<p>
Umožňuje ostatním rozmnožovat, rozšiřovat, vystavovat a sdělovat dílo pouze pro nevýdělečné účely.
</p>