<h3>Povolit úpravy</h3>
<p>
Umožňuje ostatním rozmnožovat, rozšiřovat, vystavovat dílo a také vytvářet díla z něj odvozená. 
</p>
<h3>Zachovat licenci</h3>
<p>
Umožňuje ostatním rozšiřovat odvozená díla pouze za podmínek identické licence.
</p>
<h3>Žádné modifikace</h3>
<p>
Umožňuje ostatním rozmnožovat, rozšiřovat, vystavovat a sdělovat pouze dílo v původní podobě, nikoli díla z něj odvozená.
</p>