<h3>Zprávy od ostatních uživatelů</h3> <p>Zde si můžete zvolit, kdo vám může zaslat zprávu.</p> <p>V záložce „Přehled událostí“ lze nastavit jakým způsobem budete tyto zprávy dostávat.</p> <p><strong>Poznámka:</strong> Tato omezení se nevztahují na správce serveru a pedagogy.</p> 