<h3>Nově zpřístupněná stránka</h3> <p>Upozornění, že vám nebo jedné z vašich skupin byla zpřístupněna stránka portfolia. Tato upozornění nejsou zasílána o stránkách, které jsou přístupné všem přihlášeným uživatelům nebo jsou veřejné.</p>