<h3>Nevhodný obsah</h3> <p>Zprávy správcům obsahující připomínky uživatelů o nevhodném obsahu. Za nevhodný obsah mohou být označeny stránky portfolia, položky portfolia, témata fóra a příspěvky ve fóru.</p>