<h3>HTML editor</h3> <p>Na některých místech v rámci této sítě je dostupný HTML editor. Tato možnost je známá pod anglickou zkratkou WYSIWYG ("Co vidíš, to dostaneš"). Tato volba umožní uživateli použít různé formátování textu, například zvolit tučný text nebo kurzívou. Pokud nepoužijete tuto volbu a necháte editor vypnutý, uživatel bude moci vkládat pouze prostý text.</p> <p>Toto nastavení může být znepřístupněno správcem stránek.</p> <p><strong>Poznámka: </strong>V různých prohlížečích se mohou HTML editory lehce lišit vzhledem i fungováním.</p>
