<h3>Hesla</h3> <p>Pokud chcete-li změnit své přihlašovací heslo, zadejte nejprve aktuální přihlašovací heslo do prvního pole. Poté zadejte nové heslo do obou následujících polí.</p> <p>Vaše heslo musí mít nejméně šest znaků, přičemž musí obsahovat alespoň jednu číslici a alespoň dvě písmena - jsou rozlišována malá a velká písmena. Heslo musí být odlišné od uživatelského jména.</p> <p>Pro dosažení maximální ochrany zvažte využití víceslovného hesla. Můžete použít oblíbený citát nebo vyjmenovat několik vašich oblíbených věcí, které oddělíte mezerami.</p>



