<h3>Poskytovatel licence</h3>
<p>
	Původní držitel autorských práv. Uveďte, pokud nejste tvůrce obsahu.
</p>
<p> <strong>Poznámka:</strong>
	Ujistěte se prosím, zda tvůrce obsahu umožňuje  využívání a sdílení svého díla. 
</p>