<h3>Licence</h3>
<p>Licence pro obsah, který nahrajete nebo vytvoříte.</p>
<p>
	Pro obsah, který sami vytvoříte, bude volba licence záviset na tom, jakým způsobem chcete ostatním povolit použití vašeho díla.  
</p>
<p>
	Pro vkládaný obsah, který vytvořil někdo jiný, uveďte licenci, která vám umožňuje použití díla na těchto stránkách.
</p>
<p> <strong>Poznámka:</strong>
	V případě, že používáte cizí obsah a nejste si jisti, jakou licenci zvolit, poraďte se s autorem daného díla. Pokud se jedná o vaše vlastní dílo, přednastavená licence je standardní copyright. Můžete si však zvolit licenci jinou. Někdy může být použití jiné než základní licence požadováno vaší organizací. 
</p>
<p>
	Pokud si nejste jisti, jakou licenci zvolit, poraďte se s právníkem vaší organizace. 
</p>