<h3>Veřejně viditelná skupina?</h3> <p>Pokud zaškrtnete dané políčko, povolíte komukoliv (včetně návštěvníků, kteří na těchto stránkách nemají účet) vidět většinu sekcí této skupiny.</p>

 <p>Diskuse ve fórech budou přístupné komukoliv pro čtení. K přispívání do fóra je však třeba být členem skupiny. Zobrazení seznamu členů osobám mimo skupinu může být zakázáno jejím administrátorem.</p> <p>Nehledě na toto nastavení, sekce souborů a všechny soubory v ní zůstanou viditelné pouze pro její členy.</p>