<h3>Skrýt členství</h3> <p>Skrýt seznam členů skupiny před nečleny. Vložte číselnou hodnotu do vašeho souboru CSV dle toho, kterou možnost chcete zvolit.</p> <ul>Možnosti jsou: <li><em>0</em> = Ne</li> <li><em>1</em> = Skrýt členy</li> <li><em>2</em> = Skrýt vyučující</li> </ul>