<h3>Role</h3> <p>Můžete si zvolit, jaké role budou ve vaší skupině k dispozici.</p> 

<h4>Standardní skupiny</h4> <p>Standardní skupiny zahrnují administrátory a běžné členy. Administrátoři řídí skupinu, členství v ní a schvalují možnosti nastavení. Běžní členové nemohou měnit nastavení skupiny ani členství, ale zpravidla mají právo přispívat na fóru, stejně jako upravovat stránky a soubory patřící skupině.</p> <h4>Kurzovní skupiny</h4> <p>Kurzovní skupiny zahrnují krom běžných členů a administrátorů ještě učitele. Pokud daná skupina umožňuje členům odesílat stránky do skupiny ke zhodnocení, učitelé a administrátoři je mohou ohodnotit a poskytnout autorům zpětnou vazbu ve formě komentářů.</p>
