<h3>Automatické přidávání uživatelů do skupin</h3> <p>Pokud zaškrtnete toto políčko, každý, kdo se zaregistruje do této sítě, bude automaticky přidán do této skupiny.</p> <p>V závislosti na typu skupiny však uživatelé mohou mít zároveň právo tuto skupinu opustit.</p> 