<h3>Autentizační metoda</h3> 
<p>Každý člen má nastavenu jednu primární metodu autentizace. Ve výjimečných případech jim může být nastaven i druhotný způsob autentizace, nicméně většinou stačí jeden.</p>
<p>Zde můžete vybrat, jaký mechanismus autentizace bude pro uživatele uplatněn, většinou však bude správně přednastaven za vás.</p>

<p>V určitých případech je však nutné pro některé uživatele tento autentizační mechanismus změnit. Například pokud dříve používali ověření přes LDAP, ale už nejsou v LDAP serveru uvedeni a přesto chtějí mít přístup ke svému účtu. V takovém případě je potřeba nastavit "Bez instituce: Interní" a zaškrtnout pole pro vnucení změny hesla při příštím přihlášení. Poté se bude moci uživatel přihlásit přímo bez použití LDAP serveru. </p>