 <h3>E-mail</h3>
 <p>Uživatelé mají možnost si vybrat, zda chtějí dostávat e-maily, nebo ne.</p>
 <p>
 	I když je tato funkce vypnutá, uživatelům budou stále chodit zprávy pomocí zabudovaného systému zpráv.  
 </p>
 <p>
 	Pokud jsou e-maily od uživatele vraceny zpět (například kvůli technickému problému), pak se může tato funkce automaticky vypnout, záleží však na nastavení serveru. 
 </p>