<h3>Komentáře u sdílených stránek</h3> <p> Souhrn všech komentářů vložených ve zvoleném období ke stránkám a artefaktům stránek poté, co byly sdíleny skupině. </p> <p>Jakékoliv komentáře přidané před tím, než byla stránka sdílena, nejsou započítány. </p>