<h3>Komentáře u stránek skupiny</h3> <p> Souhrn všech komentářů vložených ke stránkám a artefaktům skupiny, které byly napsány během zvoleného časového období.</p>
lang/en.utf8/help/forms/groups.groupcomments.html