<h3>Vypršení platnosti instituce</h3>
<p>
	Po určení data expirace této instituce budou následovat tyto dvě věci: Jakmile bude dosaženo <em>času varování před pozastavením platnosti instituce</em> bude správcům stránek a institucí zaslán e-mail o této skutečnosti.
</p>
<p>
	Pokud je nastavena hodnota <em>automaticky pozastavit instituce, jimž vypršela platnost</em>, bude tato instituce po dosažení data expirace automaticky pozastavena a uživatelé této instituce se nebudou moci přihlásit.
</p>
<p>
	Hodnoty <em>čas varování před pozastavením platnosti instituce</em>
	a
	<em>automaticky pozastavit instituce, jimž vypršela platnost</em>
	jsou dostupné v administraci pod nastavením stránek.  
</p>