<h3>Řazení komentářů</h3> <p>Komentáře u každé položky portfolia se zobrazují na stránce pod ní. Pořadí, ve kterém jsou komentáře zobrazovány, záleží na nastavení. Mohou být řazeny buďto <strong>od nejnovějších</strong> po nejstarší nebo <strong>od nejstarších</strong> po nejnovější.</p>