<h3>Výchozí doba členství</h3>
<p>
	Zde můžete nastavit, jak dlouho budou uživatelé členy této instituce. Po uplynutí této doby bude jejich členství ukončeno.
</p>
<p>
	Ještě před samotným ukončením členství obdrží uživatelé e-mail s informací o blížící se expiraci.
</p>