<h3>Datum vypršení platnosti instituce</h3>
<p>
	Po dosažení data vypršení platnosti bude instituce pozastavena a uživatelé této instituce se nebudou moci přihlásit, dokud nebude znovu spuštěna.
</p>