<h3>Autentizační modul</h3>
<p>
	Zde můžete nastavit, jak se budou uživatelé této instituce autentizovat pro jejich přihlášení. Instituce by měli mít nastavenu alespoň jednu metodu autentizace s ní spojenou.
</p>
<p>
	<strong>Interní</strong><br />
	Autentizační modul ověřuje uživatelské jméno a heslo v databázi, tudíž je nutné, aby uživatelé měli svůj účet. Toho lze docílit povolením registrace,    
	<a href="add.php" target="_blank">ručním přidáním uživatele</a>
	nebo
	<a href="uploadcsv.php" target="_blank">přidáním uživatele z CSV souboru</a>.
</p>
<p>
	<strong>Žádná</strong><br />
	Kdokoliv se může přihlásit s libovolnými údaji. Používejte pouze pro testování!
</p>
<p>
	Ostatní autentizační metody obecně ověřují identitu uživatele pomocí externího zdroje jako je například LDAP server nebo jiná vzdálená aplikace. Ty mají svá vlastní nastavení, která můžete konfigurovat ve vyskakovacím okně po stisku tlačítka 'Přidat'. Některé metody jsou neaktivní, jelikož vyžadují chybějící PHP rozšíření nebo nemohou navázat spojení s externím zdrojem. Například autentizační modul <em>Persona</em> vyžaduje PHP rozšíření cURL a HTTPS připojení k  <em>verifier.login.persona.org</em>
	.
</p>
<p>
	Nastavení, které sdílí všechny autentizační moduly, je možnost automatického vytváření účtů uživatelů při prvním přihlášení (na rozdíl od účtů vytvořených předem administrátorem).
</p>