<h3>Výchozí licence</h3>
<p>
	Použijte toto nastavení, pokud chcete uživatelům naznačit, jakou licenci mají pro svá díla použít.
</p>
<p>
	Uživatelé budou mít možnost si tuto výchozí licenci přenastavit ve svém nastavení, nebo ji změnit pro každou položku portfolia, kterou vytvoří nebo nahrají na server. 
</p>
<p> <strong>Poznámka:</strong>
	Pokud si nejste jisti, jakou výchozí licenci zvolit, poraďte s právníkem Vaší instituce nebo specialistou na autorská práva.
</p>