<h3>Rozbalovací navigace</h3>
<p>
	Rozbalovací navigace se zobrazí pouze v grafickém motivu <strong>této instituce</strong>. Pokud si uživatelé vybrali svůj vlastní grafický motiv stránek, nebude vzhed stránek tímto nastavením ovlivněn.  
</p>
<p>
	Globální motivy přejímají uživatelské <strong>nastavení stránek</strong>. Pokud si tedy uživatel vybere <strong>jiný motiv</strong>, bude to jejich nastavení, které ovlivní formu navigace (rozbalovací nebo formou panelů).
</p>

<p>Pokud nemůžete změnit přepínač "Zapnuto/Vypnuto", vybrali jste si k užívání výchozí grafický motiv sítě. To znamená, že výchozí nastavení sítě ovlivní také nastavení rozbalovacího menu. Pokud si přejete použít výchozí grafický motiv, ale nechcete přednastavené menu, prosím vyberte grafický motiv výše z rozbalovacího menu (a nikoliv výchozí). Pak budete schopni změnit nastavení na používání rozbalovacího menu.</p>