<h3>Zamknutá pole</h3>
<p>
	Každá instituce si může nastavit, která pole si uživatel nebude moci změnit.  
	Z bezepčnostních a identifikačních důvodů by například mohla být uzamčena pole se jménem, příjmením a ID studenta.  
</p>