<h3>Povolit registraci uživatelů?</h3>
 <p>
 	Pokud je toto nastavení zapnuté, uživatelé se mohou registrovat do systému pomocí registračního formuláře. Pokud je vypnuté, registrační formulář není dostupný, ale uživatelé stále mají možnost si vytvořit účet pomocí autentizačního modulu, který má zapnutou možnost automatického vytváření účtů při prvním přihlášení. Pokud tedy chcete zabránit atomatickému vytváření nových účtů, je nutné odebrat nebo přenastavit všechny aktivní autentizační moduly.
 </p>
 <p>
 	Pokud má alespoň jedna instituce toto nastavení zapnuté, uživatel bude mít možnost si vybrat, ke které instituci se chce zaregistrovat pomocí rozbalovacího menu. 
 </p>
 <p>
 	Pokud žádná insituce nebude mít toto nastavení zapnuté, uživatel nebude mít možnost se registrovat prostřednictvím formuláře.
 </p>
 <p>
 	V případě, že chcete, aby se uživatelé připojili k instituci prostřednictvím mechanismů jako je LDAP nebo SSO, je všeobecně doporučeno toto nastavení vypnout. Vypněte ho i v případě, kdy chcete sami řídit vytváření účtů pomocí 
	<a href="add.php" target="_blank">ručního přidávání uživatelů</a>
	nebo
	<a href="uploadcsv.php" target="_blank">přidávání uživatelů z CSV souboru</a>.
 </p>