<h3>Motiv</h3>
<p>Zde nastavíte motiv, který se zobrazí všem přihlášeným uživatelům a členům instituce.
	Pokud nastavíte <strong>výchozí</strong>
	motiv, pak se při změně výchozího motivu na úrovní celého serveru změní i motiv této instituce. 
</p>
<p>
	Pokud zvolíte <strong>konfigurovatelný motiv</strong>, budete si moci změnit některé barvy prvků na stránce.
</p>