<h3>Povolit veřejné stránky institucí</h3>
<p>
	Pokud chcete povolit uživatelům, patřícím do této instituce, vytvářet stránky, které budou přístupné pro veřejnost, nastavte toto zaškrtávací pole na hodnotu ano.
</p>
<p>
	I přesto, že toto pole nebude zaškrtnuto, uživatelé této instituce stále budou moci vytvářet veřejné stránky, pokud budou patřit do jiné instituce, která je povoluje. 
</p>
<p>Veřejné stránky může upravovat pouze jejich vlastník.</p>