<h3>Ikona licence</h3> <p>Zde může být http://... nebo https://... adresa obrázku.</p> <p>Lze použít také license:... URL pro specifikaci ikony licence z motivů Mahary. Například <pre>license:gfdl.png</pre> by odkazovalo na <pre>static/images/license/gfdl.png</pre> v motivu.</p>