<h3>Přihlášení</h3> <p> Celkový počet přihlášení členů instituce během zvoleného časového období.</p> <p>To znamená, že když se jeden uživatel přihlásí dvakrát v jeden den, obě přihlášení zde budou započítána. V sekci "Aktivní uživatelé" se ale tento člověk započítá pouze jednou.</p>
