<h3>Heslo</h3>
<p>
	Vaše heslo musí být alespoň šest zanků dlouhé. U hesla záleží na velikosti písmen a musí se lišit od vašeho uživatelského jména.
</p>
<p> <strong>Upozornění:</strong>
Z bezpečnostních důvodů nikdy nesdělujte své heslo jiným uživatelům včetně správce stránek.
</p>
<p>Pro vyšší bezpečnost zvažte použití heslové fráze. Heslová fráze je narozdíl od jednoslovného hesla složena ze sekvence slov (věty). Může se například jednat o váš oblíbený citát nebo o několik vašich oblíbených věcí oddělenými mezerami. 
</p>