<h3>Uživatelské jméno</h3>
<p>
	Vaše uživatelské jméno musí být alespoň tři znaky dlouhé, ale nesmí překročit 30 znaků. Není citlivé na velikost písmen. Jsou povoleno použít písmena, číslice a standardní symboly.
</p>