<h3>Jazyk</h3> <p>Vybraný jazyk bude nastaven jako výchozí jazyk na vašich stránkách. Pokud na vašich stránkách existují další jazykové verze, uživatelé budou moci změnit svůj preferovaný jazyk prostřednictvím nastavení svého účtu.</p>