<h3>Spouštět clam pomocí</h3> <p>Cesta k souboru <code>clamscan</code> nebo <code>clamdscan</code> pro antivirovou kontrolu. Předpokládá se, že selhání programu ClamAV bude mít za následek, že se soborem bude zacházeno jako kdyby obsahoval virus a Mahara automaticky zajistí karanténu.</p><p>Z bezpečnostních důvodů toto nastavení nemůže být změněno přes web. Bude třeba nastavení provést v souboru <tt>config.php</tt> následovně:</p> <p><tt>$cfg->pathtoclam = '/path/to/your/clamscan';</tt></p>
