<h3>Externí zdroje: Ověřené stránky</h3>
<p>
	Kvůli ochraně před škodlivým obsahem z jiných stránek, jsou tagy &lt;object&gt; a &lt;embed&gt; před zobrazením obvykle vyfiltrovány z HTML kódu. Toto nastavení dovoluje uživatelům vkládat obsah ze specifických stránek do svých stránek portfolia.
</p>