<h3>Generovat mapu webu</h3>
<p>
	Při zaškrtnutí tohoto pole se vygeneruje mapa webu, která je čitelná pro vyhledávače a je přístupná ze všech veřejných stránek, skupin a témat.  
</p>
<p>
	Mapa webu je skupina XML souborů, které jsou vytvořené podle specifikace uvedené na
	<a href="http://www.sitemaps.org/">sitemaps.org</a>.
	Jejich seznam je k nalazení na URL adrese
	<tt>[vášestránka.cz]/download.php?type=sitemap</tt>
	. 
	Na adrese se vypíše seznam denně generovaných XML souborů, které obsahují pouze stránky, jež se za poslední den změnily.
</p>