<h3>Povolit seznam zakázaných SURBL URL </h3>
<p>
	SURBL poskytuje zdarma seznam zakázaných URL určený pro organizace s méně než tisíci uživateli. Existuje i profesionální verze, která však není systémem Mahara podporována. Před zapnutím této volby si prosím přečtěte
	<a href="http://www.surbl.org/usage-policy.html">podmínky použití</a>.
</p>
