<h3>reCAPTCHA v registračním formuláři</h3>
<p>
	Je-li zaškrtnuto, uživatelé budou nuceni při registraci podstoupit test reCAPTCHA, čímž dokážou, že jsou skuteční lidé. Toto opatření napomáhá zabránit robotům vytvářet spamové účty.
</p>
<p>
	Abyste tuto službu zprovoznili, je potřeba vyplnit veřejný a soukromý klíč. Oba můžete získat na adrese
	<a href="http://recaptcha.org">http://recaptcha.org</a>.</p>