<h3>Port SMTP</h3>
<p>
	Jestliže váš SMTP server používá jiné číslo portu než je 25, můžete ho zde upravit.
</p>
<p>
	Při zapnutém šifrování je port v případě SSL nastaven na číslo 465 a v případě TLS na číslo 587. Specifikaci čísla provádějte jen v případě, že je odlišné od uvedených. Správné nastavení konzultujte s poskytovatelem mailového serveru. 
</p>
<p>
	Toto pole může být potlačeno nastavením v souboru config.php.
</p>