<h3>Povolit veřejné stránky</h3> <p>Pokud chcete povolit uživatelům vytvářet veřejně přístupné stránky, zaškrtněte toto pole. Veřejné stránky může upravovat pouze jejich vlastník.</p> <p>Pokud tuto možnost zakážete, tajný URL přístup bude také znepřístupněn.</p>