<h3>Kdy zaslat varování o hrozícím vypršení účtu</h3> <p>Je-li tato doba nastavena, uvedenou dobu předtím, než je účet deaktivován nebo vyprší, bude uživatelům zasláno varování.
Tuto dobu je možné nastavit ve dnech, týdnech, měsících nebo letech, případně může být zvoleno, že uživatelé neobdží toto varování, a to volbou nikdy.</p>