 <h3>Automaticky pozastavit instituce, jimž vypršela platnost</h3>
<p>
	Každý den je kontrolováno, zda institucím nevypršla platnost. Pokud je zaškrtnuto, bude systém automaticky pozastavovat ty instituce, jimž doba platnosti vypršela. To znamená, že do té doby, než bude platnost instituce prodloužena, nebudou se moci uživatelé těchto institucí přihlásit.   
</p>