<h3>Vypršení interních upozornění</h3> <p>Následující typy upozornění budou smazány po uběhnutí zadaného počtu dní: </p> <ul> <li>Upozornění o přístupu na stránku</li> <li>Upozornění sledovaných</li> <li>Zprávy institucí</li> </ul>