<h3>Zakázat externí zdroje v uživatelově HTML</h3>
<p>
	Zašktnutím tohoto pole znemožníte uživatelům vkládat do příspěvků fóra obrázky ze vzdálených serverů a jiný HTML obsah.
</p>
<p>
	Z pohledu bezpečnosti lze toto nastavení doporučit, jelikož znemožňuje jakýkoliv pokus o phishing.  
</p>
<p>
	Pro více informací si přečtěte 
	<a href="http://htmlpurifier.org/live/configdoc/plain.html#URI.DisableExternalResources">dokumentaci HTML Purifier</a> (anglicky).
</p>