<h3>Kdo může zakládat veřejné skupiny</h3> <p>Pokud chcete všem uživatelům povolit vytváření skupin viditelných neregistrovanými uživateli, nastavte tuto možnost na 'Všichni'.</p> <p>Každý, kdo navštíví vaše stránky, může u veřejných skupin zobrazit stránku "Informace" a všechny diskuse. K provedení ostatních akcí, jako je přispívání do fór nebo zobrazení uživatelských profilů, se stále musí stát členem skupiny. <p>Zobrazení seznamu členů skupiny může být nastaveno správcem skupiny.</p>
