<h3>Antivirová kontrola</h3> <p>Pokud chcete, aby všechny nahrávané soubory uživatelů byly zkontrolovány na přítomnost virů pomocí programu ClamAV, vyberte tuto možnost.</p>
<p>Program ClamAV musí být nainstalován na vašem serveru. Mnoho distribucí Linuxu má <code>clamav</code> balíčky, případně si program můžete stáhnout ze stránek <a href="http://www.clamav.net/">ClamAV website</a>. 