<h3>Přístup k profilu pro přihlášené uživatele</h3>
<p>
	Pokud zaškrtnete toto pole, umožníte všem uživatelům vidět uživatelské profily ostatních.
</p>
<p>
	V případě, že necháte pole nezaškrtnuté, uživatelské profily budou zpočátku dostupné všem přihlášeným uživatelům, ale jejich vlastníci budou moci omezit přístup pro menší okruh nebo skupinu. 
</p>
<p>
	Profily členů instituce budou vždy dostupné ostatním členům stejné instituce. 
</p>