<h3> Název stránek </h3> <p> Nastavení názvu vašich Mahara stránek. Název stránek se objevuje na několika místech a je uveden v generovaných e-mailech odesílaných z těchto stránek.</p> Toto pole může být potlačeno změnou nastavení souboru config.php. </p>