<h3>Záznam událostí pro pokročilou analýzu</h3>

<p>Pro zobrazení pokročilé analýzy je potřeba povolit Elasticsearch.</p>

<p>Abyste získali nějaká data pro analýzu, budete muset mít (nebo jste měli) zapnuté plné protokolování událostí.</p>

<p>Analýzu dat o událostech naleznete v administraci, v sekci "Přehledy".</p>