<h3>E-mailová adresa systému</h3>
<p>
	Uvedená e-mailová adresa je adresa, ze které budou odesílány uživatelům systémové e-maily.  
</p>
<p>
Toto pole může být potlačeno nastavením v souboru config.php.
</p>