<h3>Čas varování před pozastavením platnosti instituce</h3>
<p>
	Pokud nastavíte hodnotu, bude po jejím dosažení odeslána správcům výstražná zpráva o blížícím se konci platnosti a následném pozastavení. Tuto dobu můžete stanovit ve dnech, týdnech, měsících, anebo rocích. V případě, že si nepřejete, aby instituce obdržely varování o blížícím se konci platnosti, vyberte položku "nikdy".  
</p>