<h3>Povolit Spamhaus URL blacklist</h3>
<p>
	The Spamhaus Project poskytuje anti-spamový URL blacklist určený pro nízký provoz, který je zdarma a nekomerční. Existuje i profesionální verze, která však není systémem Mahara podporována. Před zapnutím této volby si prosím přečtěte
	<a href="http://www.spamhaus.org/organization/dnsblusage.html">podmínky použití</a>.
</p>