 <h3>Metadata licence</h3>
 <p>
 	Při zaškrtuntí budou uživatelé vyzváni k zadání informací o licenci pro všechen obsah, který vytvoří nebo nahrají na server. Tyto informace zahrnují druh licence a volitelně i poskytovatele licence a původní URL obsahu.
 </p>
 <p>
 	Licence jsou uchovávány jako URL na externí dokument s licencí. Pokud správce stránek nakonfiguruje seznam licencí, bude k nim zobrazen i název s ikonou.
 </p>