<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later --> <!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. --> <h3>Povolit anonymní stránky</h3> <p>Pokud chcete dovolit uživatelům skrýt jejich jméno na stránkách, zvolte tuto možnost.</p> <p>Administrátoři budou stále moci zobrazit informaci o autorství pomocí odkazu, přihlášeným uživatelům se místo jména autora zobrazí tlačítko 'Označit nevhodný obsah'.</p>
lang/en.utf8/help/forms/siteoptions.allowanonymouspages.html