<h3>Zaznamenávat události</h3>
<p>
	Události jsou generovány pokaždé, když uživatel provede jakoukoliv zásadní změnu, jako je třeba úprava stránky portfolia. 
</p>
<p>
	Volitelně je možné tyto události zaznamenávat a uchovávat. Mohou být zaznamenávány všechny události (což může být pro server z hlediska provozu náročné), nebo jen takové, které se týkají maskování administrátora za jiného uživatele (funkce "Přihlásit se jako"). Tento záznam je uchováván v databázi v tabluce event_log. Záznam o maskování je také dostupný v administraci pod sekci "Vyhledat uživatele".
</p>
<p>
	Nezávisle na vašem nastavení budou všechny události nadále zaznamenávány do přístupového záznamu samotného serveru.  
</p>