<h3>Výchozí způsob upozorňování</h3>
<p>
	Zde je možné nastavit výchozí způsob upozorňování pro nové uživatele. Pokud je nastaveno na 'Přehled událostí', budou upozornění zasílána pouze v rámci stránek. K jejich přečtení se uživatelé budou muset přihlásit a jít na stránku
	<a href="../../account/activity">Doručená pošta</a>. Uživatelé si mohou sami způsob upozorňování přenastavit v 
	<a href="../../account/activity/preferences">nastavení přehledu událostí</a>
	.
</p>