<h3>Hostitel SMTP</h3>
<p>
	V případě, že chcete přinutit stránky, aby k zasílání e-mailů používaly jiný než systémový SMTP server, můžete tak učinit zde.
</p>
<p>
	Je možné zadat i více než jednoho hostitele a to tím způsobem, že je oddělíte středníky. Například: <em>smtp1.example.com;smtp2.example.com</em>.
	Mějte ale na paměti, že všechna ostatní nastavení (např. přihlašovací údaje a čísla portů) budou aplikována na všechny zadané servery. Není tedy možné specifikovat přihlašovací údaje pro jednotlivé servery. Toto nastavení je proto vhodné a bude fungovat pro ty SMTP servery, které buď nevyžadují přihlašovací údaje, nebo mají nastavení shodná (různé části stejného SMTP serveru).
</p>
<p>
	Toto pole může být potlačeno nastavením v souboru config.php.  
</p>