<h1>ID</h1> <p>Toto ID je buď ID skupiny nebo hostitele, kterému bylo portfolio odevzdáno.</p> <p>Pokud je povolen LTI Advantage modul a hostitelem je registrovaná 'Externí aplikace', bude použito krátké jméno této aplikace.</p>