<h1>Odevzdáno (komu):</h1> <p>Zde je uvedena skupina nebo hostitel, kterému bylo portfolio odevzdáno.</p> <p>Pokud je povolen LTI Advantage modul a hostitelem je registrovaná 'Externí aplikace', bude použito krátké jméno této aplikace.</p>
