<h3>Zobrazit ovládací prvky pro přidání a odebrání sloupců při editaci stránky portfolia</h3>
<p>
	Uživatelé si mohou nechat zobrazit řádek s tlačítky
	<span class="btn btn-primary btn-xs text-left" title="Add column"> <span class="mrs icon-long-arrow-down icon-rotate-45 icon icon-sm" role="presentation"></span> <span class="icon-plus icon icon-sm" role="presentation"></span> </span> a <span title="Remove this column" class="text-center btn btn-default btn-xs"> <span class="icon-times-circle icon icon-sm" role="presentation"></span> </span> 
	při úpravách stránek portfolia. Po klepnutí na tlačítko se buď přidá nebo odebere sloupec z dané stránky.
</p>
<p>
	I v případě, že je tato možnost vypnutá, uživatelé si stále budou moci změnit počet sloupců na své stránce v sekci rozvržení.  
</p>