<h3>Zprávy od ostatních uživatelů</h3> <p>Zde můžete zvolit, kdo může uživatelům zasílat zprávy.</p> <p>V záložce „Přehled událostí“ lze nastavit jakým způsobem budou uživatelé dostávat tyto zprávy.</p> <p><strong>Poznámka:</strong> Tato omezení se nevztahují na správce serveru a zaměstnance.</p> 