<h3>Stránky</h3> <p> Celkový počet stránek vytvořených danou osobou během tohoto období.</p> <p>Může jít o méně či více stránek než je uvedeno v profilu dané osoby. Záleží na tom, zda mimo toto období nějaké stránky přidala či smazala.</p>