<h3>E-maily</h3>
 <p>Zobrazeny jsou všechny e-mailové adresy, které má uživatel zadané v profilu v sekci "Kontaktní informace". První z nich je primární e-mailová adresa, která je využívána k zasílání upozornění uživateli. Další e-mailové adresy jsou vypsány v závorkách. </p>
<p>
	Pokud je použita volba "Filtr duplicitních e-mailových adres", budou e-maily všech uživatelů zobrazeny, tj. jejich primární e-mailová adresa a všechny doplňkové, které byly zadány v kontaktních údajích v nastavení profilu. Pokud má uživatel uvedenou více než jednu e-mailovou adresu, budou duplikáty označeny hvězdičkou (*). 
</p>