<h3>Položky portfolia</h3> <p> Jde o počet položek, které uživatel vytvořil nebo aktualizoval během tohoto období.</p> <p>Tato informace se může počtem lišit od celkového součtu v uživatelově profilu. Záleží na tom, zda daná osoba mazala či vytvářela položky portfolia mimo zadané časové období.</p>