<h3>Vytvoření vlastního rozvržení</h3>
<p>
	Zde můžete vytvořit vlastní rozvržení stránky s preferovaným počtem řádků a  sloupců, u kterých navíc můžete upravit jejich poměr.
</p>
<p>
	Klepnutím na tlačítko "Přidat řádek" přidáte nový řádek a pomocí rozbalovacích boxů nastavíte na tomto řádku uspořádání sloupců. Obrázek vpravo ukazuje náhled vašeho rozvržení. 
</p>
<p>
	Jakmile jste spokojeni se svým návrhem, přidáte jej klepnutím na talčítko "Vytvořit novou stránku". Tím se vaše rozvržení vytvoří a zároveň i zvolí jako aktivní. Klepnutím na tlačítko "Uložit" v dolní části stránky se vaše volba rozvržení uloží. 
</p>
<p>
	Vaše nové rozvržení vám bude v budoucnu k dispozici pod odkazem "Pokročilá nastavení" v úpravách rozvržení stránky. 
</p>