<h3>Výběr rozvržení stránky</h3>
<p>
	Miniatury zobrazují sloupce a řádky, které tvoří jednotlivá rozvržení stránky. 
</p>
<p>
	Při zastavení kurzoru myši nad miniaturou se zobrazí informace o poměrné šířce jednotlivých sloupců na řádku. Výběr se provede klepnutím na příslušnou miniaturu. 
</p>
<p>Pro více možností rozvržení, přejďete na "Pokročilá nastavení".</p>