<h3>URL adresa aplikace</h3> <p>Vložte sem URL adresu, pokud chcete, aby byli lidé přesměrováni na hlavní stránku aplikace pro přihlášení, pokud přišli z odkazů zaslaných z této sítě pomocí emailu.</p> <p>Vyžaduje, aby bylo $cfg->emailexternalredirect nastaveno na 'true' (pravda).</p>