<h3>Vydavatel</h3> <p>Je požadována technická znalost vašeho poskytovatele platformy LTI Advantage.</p> <p>Nahlédněte do vaší dokumentace LTI Advantage vaší Platformy. Tato hodnota je obsahem pole <code>iss</code> v požadavku.</p>