<h3>Knihy a publikace</h3>
<p>Uveďte jakékoliv publikace, které jste napsali nebo k nimž jste přispěli například v roli redaktora nebo grafika. Klikněte na 'Přidat' pro vytvoření nového záznamu. Použijte tlačítko 'Zrušit' ke zavření formuláře bez uložení změn. </p>
<p><strong>Upozornění:</strong> Je důležité uložit každou novou informaci pomocí tlačítka na spodní části stránky.</p>
<p>Záznamy se zobrazují formou tabulky. Záznam upravíte kliknutím na tlačítko 'Upravit'. Jakmile budete hotovi, uložte změny, abyste se vrátili na tuto stránku. Záznamy můžete smazat pomocí tlačítka 'Odstranit'.</p>
<p>Jestliže jste u publikace uvedli popis, poklikáním na název publikace popis zobrazíte, příp. skryjete.</p>
