<h3>Certifikáty, diplomy a ceny</h3>
<p>Uveďte jakékoliv certifikáty, diplomy a ceny, které jste obdrželi; např. Zdravotnické osvědčení, apod.</p>
<p>Klikněte na 'Přidat' pro vytvoření nového záznamu. Použijte tlačítko 'Zrušit' ke zavření formuláře bez uložení změn. Pokud máte více než jeden záznam, použijte šipky k jejich seřazení dle vaší představy.</p>
<p><strong>Upozornění:</strong> Je důležité uložit každou novou informaci pomocí tlačítka na spodní části stránky.</p>
<p>Záznamy se zobrazují formou tabulky. Záznam upravíte kliknutím na tlačítko 'Upravit'. Jakmile budete hotovi, uložte změny, abyste se vrátili na tuto stránku. Záznamy můžete smazat pomocí tlačítka 'Odstranit'.</p>
<p>Jestliže jste uvedli popis, poklikáním na název popis zobrazíte, příp. skryjete.</p>