<h3>Historie zaměstnání</h3>
<p>Tato sekce vám umožní vytvořit záznam o vašich pracovních zkušenostech. Klikněte na 'Přidat' pro vytvoření nového záznamu. Použijte tlačítko 'Zrušit' ke zavření formuláře bez uložení změn. Pokud máte více než jeden záznam, použijte šipky k jejich seřazení dle vaší představy.</p>
<p><strong>Upozornění:</strong> Je důležité uložit každou novou informaci pomocí tlačítka na spodní části stránky.</p>
<p>Záznamy se zobrazují formou tabulky. Záznam upravíte kliknutím na tlačítko 'Upravit'. Jakmile budete hotovi, uložte změny, abyste se vrátili na tuto stránku. Záznamy můžete smazat pomocí tlačítka 'Odstranit'.</p>
<p>Jestliže jste uvedli popis pracovní pozice, poklikáním na název pozice její popis zobrazíte, příp. skryjete.</p>
