<h3>Dosažené vzdělání</h3>
<p>Tato sekce vám umožní vytvořit záznam o vaší akademické kvalifikaci. Klikněte na 'Přidat' pro přidání nového záznamu do vaší historie vzdělání. Použijte tlačítko 'Zrušit' ke zavření formuláře bez uložení změn. Pokud máte více než jeden záznam, použijte šipky k jejich seřazení dle vašich představ.</p>
p><strong>Upozornění:</strong> Je důležité uložit každou novou informaci pomocí tlačítka na spodní části stránky.</p>
<p>Záznamy se zobrazují formou tabulky. Záznam upravíte kliknutím na tlačítko 'Upravit'. Jakmile budete hotovi, uložte změny, abyste se vrátili na tuto stránku. Záznamy můžete smazat pomocí tlačítka 'Odstranit'.</p>
<p>Jestliže jste u kvalifikace uvedli popis, poklikáním na název kvalifikace popis zobrazíte, příp. skryjete.</p>
