<h3>Členství v profesních organizacích</h3>
<p>Tato sekce vám umožní vytvořit záznam o vašem členství v profesních organizacích; např: Registrovaný člen Pěveckého sboru pražských učitelů, apod. Klikněte na 'Přidat' pro vytvoření nového záznamu. Použijte tlačítko 'Zrušit' ke zavření formuláře bez uložení změn. Pokud máte více než jeden záznam, použijte šipky k jejich seřazení dle vaší představy.</p>
<p><strong>Upozornění:</strong> Je důležité uložit každou novou informaci pomocí tlačítka na spodní části stránky.</p>
<p>Záznamy se zobrazují formou tabulky. Záznam upravíte kliknutím na tlačítko 'Upravit'. Jakmile budete hotovi, uložte změny, abyste se vrátili na tuto stránku. Záznamy můžete smazat pomocí tlačítka 'Odstranit'.</p>
<p>Jestliže jste uvedli popis členství, poklikáním na název členství daný popis zobrazíte, příp. skryjete.</p>