<h3>Přidat soubory</h3> <p>Chcete-li k životopisu přiložit soubor akutálně uložený ve vašich souborech, můžete procházet své úložiště.</p> <p>Můžete také nahrát nové soubory z počítače. Tyto soubory budou umístěny ve vašich souborech a zároveň připojeny k vašemu životopisu.</p>