<h3>Mé dovednosti</h3> <p>Oblast dovedností je rozdělena na tři sekce: osobní, vzdělávací a profesní dovednosti. Zde přidané dovednosti mohou být vloženy do vašich stránek.</p> <p>Zaměstnavatele vždy zajímá, jaké dovednosti byste přinesli do své pracovní pozice. Zároveň můžete tuto sekci využít k představení vlastností, které byste vnesli do komunity spolupracovníků nebo pracovní skupiny.</p>
