<h3>Přidat soubor</h3> <p>Chcete-li k poznámce přiložit soubor aktutálně uložený ve vašich souborech, můžete procházet své úložiště pro jeho vyhledání.</p> <p>Můžete také nahrát nové soubory z počítače. Tyto soubory budou umístěny ve vašich souborech a zároveň připojeny k vaší poznámce.</p>