<h3>Zapomenuté údaje</h3>
<p>
	Pokud jste zapomněli své uživatelské jméno nebo heslo, může si nechat zaslat zprávu s vaším uživatelským jménem. Také máte možnost si nechat zaslat odkaz, pomocí kterého si můžete heslo resetovat. V takovém případě zadejte své uživatelské jméno nebo svou primární e-mailovou adresu a klepněte na "Poslat žádost". Automaticky vám bude zaslán e-mail se zmiňovaným odkazem. 
</p>
<p> <strong>Upozornění:</strong>
	Pokud obdržíte e-mail s žádostí o změnu hesla, o který jste nežádali, může se jednat o podvod. Na odkaz v takovém e-mailu neklikejte.
</p>