<h3>Registrace</h3>
<p>
	Pokud vám vaše instituce nazaložila účet ePortoflia, je potřeba se registrovat sám/sama. V tomto případě, vyplňte a odešlete tento registrační formulář. Na vámi uvedenou e-mailovou adresu bude odeslán e-mail s aktivačním odkazem. Po kliknutí na odkaz můžete pokračovat v dokončení registrace. Pokud e-mail neobdržíte do 24 hodin, podívejte se prosím do spamu a na jeho filtry. V případě jakýchkoliv problémů se pak obraťte na správce stránek.   
</p>
<p> <strong>Poznámka:</strong>
	Zaslaný aktivační odkaz je platný pouze po 24 hodin. Po uplynutí této doby musíte registraci opakovat.
</p>
<p>
	Následně budete vybídnuti k vyplnění všech dalších povinných údajů a budete mít možnost si nahrát svůj profilový obrázek. Jakmile dokončíte registaci, budete se moci přihlásit pomocí vámi vyplněného uživatelského jména a hesla (případně i instituce).
</p>
<p> <strong>Poznámka:</strong>
	Tyto stránky vyžadují používání moderního webového prohlížeče, jako je Internet Explorer verze 9.0 a vyšší nebo jakékoliv současné verze Firefox, Safari, nebo Chrome. Stánky také vyžadují povolené cookies.
</p>
