<h3>Doručená pošta</h3>
<p>
	Zde naleznete seznam systémových činností nebo událostí, které se vás týkají. Způsob, jakým budete o těchto oznámeních informováni, můžete specifikovat v nastavení v přehledu událostí. Jakmile si oznámení přečtete, budete jej moci označit ke smazání. 
</p>
<p> <strong>Poznámka:</strong>
	Přečtená oznámení níže uvedených typů budou automaticky smazána z tohoto seznamu po 60 dnech: 
</p>
<ul> <li>Nový přístup na stránku</li> <li>Sledování</li> <li>Zprávy pro instituci</li>