<h3>Oznámení</h3>
<p>
	Zde můžete určit, jakým způsobem obdržíte oznámení o jednotlivých typech systémových činností. 
</p>
<h4>Způsoby oznámení</h4>
<p> <strong>Doručená pošta v Mahaře:</strong>
	seznam všech oznámení dané kategorie uvidíte v doručené poště na tomto webu
</p>
<p> <strong>E-mail:</strong>
	na vaši primární e-mailovou adresu přijde e-mail vždy, když nastane událost, která se vás týká
</p>
<p>
	<strong>Souhrný přehled e-mailem:</strong>
	na vaši primární e-mailovou adresu přijde jeden e-mail denně, který bude obsahovat seznam činností a událostí za posledních 24 hodin 
</p>
<p>
	<strong>Poznámka:</strong>
	Když vyberete některou z možnost zasílání oznámení e-mailem, všechny události budou zaznemnány zároveň i v sekci “Doručená pošta” na těchto stránkách, ale budou označeny jako přečtené.</p>
<p>Pokud zvolíte některou z e-mailových způsobů upozornění, následujícím oznámením automaticky vyprší platnost a budou ze záznamu snazány po 6 měsících:
</p>
 <ul> <li>Oznámení o přístupu ke stránce</li> <li>Oznámení ze sekce Sledování</li> <li>Zprávy pro instituci</li>
