<h3>Nastavení</h3>
<p>
	V části nastavení si můžete změnit uživatelské jméno, heslo a parametry týkající se používání stránek.
</p>
<p>
	Účty mohou automaticky vypršet po dosažení určité doby, která je definována správcem stránek. Na tuto skutečnost budete upozorněni v předstihu. Stejně tak dostanete informaci, jak si své portfolio zazálohovat.
</p>
<p> <strong>Poznámka:</strong>
	Po každé změně nastavení je důležité stisknout tlačítko 'Uložit' na konci stránky.
</p>