<h3>Velikost profilového obrázku</h3>
<p>Velikost profilového obrázku určuje maximální výšku a šířku uživatelova profilového obrázku v pixelech. Všechny obrázky nahrané do složky Obrázky profilu budou upraveny na tuto velikost.</p>
