<h3>Port Elasticsearch</h3>
<p>
Číslo portu k přístupu na Elasticsearch server. 
</p>
<p>
Tato změna nemůže být provedena přímo přes webové rozhraní. Je potřeba změnit hodnotu následující proměnné v souboru config.php: 
</p>
<p>
<code>$cfg->plugin->search->elasticsearch->port</code>.
</p>