<h3>Hostitel Elasticsearch</h3>
<p>Název hostitele nebo IP adresa serveru, na kterém běží Elasticsearch.</p>
<p>
Tato změna nemůže být provedena přímo přes webové rozhraní. Je potřeba změnit hodnotu následující proměnné v souboru config.php: 
</p>
<p>
<code>$cfg->plugin->search->elasticsearch->host</code>.
</p>