<h3>Název indexu</h3>
<p>
Název Elasticsearch indexu, který se bude používat při vyhledávání na stránkách. Je nepravděpodobné, že budete potřebovat výchozí hodnotu indexu měnit. V některých případech se však název indexu mění, například pokud používáte stejné indexy na několika stránkách Mahara, nebo pokud jste použili nastavení 'Obejít index'.   
</p>
<p>
Pokud hodnotu vyměníte za novou, budete muset použít tlačítko 'Obnovit VŠECHNY indexy', aby se nový index začal používat.
</p>
<p>
Tato změna nemůže být provedena přímo přes webové rozhraní. Je potřeba změnit hodnotu následující proměnné v souboru config.php: 
</p>
<p>
<code>$cfg->plugin->search->elasticsearch->indexname</code>.
</p>