<h3>Obejít index</h3>
<p>Ve většině případů by toto nastavení mělo být ponecháno prázdné.</p>
<p>
Pokud je nastaveno, Mahara vezme řetězec a uloží ho jako nový index pro Elasticsearch. Nebude však rovnou uveden do provozu. Jako index bude stále sloužit řetězec v poli "Název indexu".
</p>
<p>
Pokud chcete, aby se začal nový index používat (tj. aby se provedla reindexace) a zároveň nechcete snížit výkonnost vyhledávání, která trvá po dobu reindexace, použijte toto pole. Cron provede reindexaci na nový index a než se provede, ponechá ve funkčnosti starý index.
</p>
<p>
Jakmile je fronta prázdná, zkopírujte název nového indexu do proměnné 
<code>$cfg->plugin->search->elasticsearch->indexname</code>
v souboru config.php.
</p>
<p>
Tato změna nemůže být provedena přímo přes webové rozhraní. Je potřeba změnit hodnotu následující proměnné v souboru config.php: 
</p>
<p>
<code>$cfg->plugin->search->elasticsearch->bypassindexname</code>.
</p>