<h3>Schéma Elasticsearch</h3> <p>Schéma Elasticsearch serveru.</p> <p>Toto nastavení nemůže být změněno přes webové rozhraní. Můžete jej změnit nastavením hodnoty ve vašem souboru config.php pro následující konfigurační proměnnou:</p> <p><code>$cfg->plugin_search_elasticsearch_scheme</code>.</p>