<h3>Druhy Elasticsearch</h3>
<p>
Jedná se o čárkami oddělený seznam prvků do indexu. Každý prvek se musí shodovat s podtřídou ElasticsearchType v search/elasticsearch/type.
</p>
<p>
Toto nastavení byste neměli potřebovat měnit, pokud jste nezáváděli nový druh vyhledávání, nebo pokud nechcete zablokovat určitý druh vyhledávání.
</p>
<p>
Tato změna nemůže být provedena přímo přes webové rozhraní. Je potřeba změnit hodnotu následující proměnné v souboru config.php: 
</p>
<p>
<code>$cfg->plugin->search->elasticsearch->types</code>.
</p>