<h3>Autentizace uživatelského jména pro zápis do indexu</h3> <p>Pokud vás Elasticsearch server vyžaduje jiné jméno a heslo v rámci základní HTTP autentizace pro možnost zapisovat do indexu, můžete dané <strong>uživatelské jméno</strong> uvést zde. <strong>Poznámka:</strong> Základní Elasticsearch software sám o sobě neposkytuje možnost práce s jménem či heslem. Této funkcionality je možné dosáhnout použitím pluginu, jako je například Search Guard, nebo přístupem k němu skrz proxy.</p> <p>Toto nastavení nelze změnit přes webové rozhraní. Můžete jej upravit nastavením hodnoty ve vašem souboru config.php pro následující konfigurační proměnnou:</p>  <p><code>$cfg->plugin_search_elasticsearch_indexingusername</code>.</p>

