<h3>Analyzátor Elasticsearch</h3>
<p>
Analyzátor Elasticsearch vykonává proces analýzy vyhledávání v databázi.
</p>
<p>
Systém mahara využivá zabudovaný <strong>mahara_analyzer</strong>.
</p>
<p>
Pročtěte si <a href="http://www.elasticsearch.org/guide/reference/index-modules/analysis/custom-analyzer/">instrukce na webu Elasticsearch</a>, pokud chcete používat jiný analyzátor.
</p>
<p>
Tato změna nemůže být provedena přímo přes webové rozhraní. Je potřeba změnit hodnotu následující proměnné v souboru config.php: 
</p>
<p>
<code>$cfg->plugin->search->elasticsearch->analyzer</code>.
</p>
<p>
Doporučujeme neměnit výchozí 'mahara_analyzer' za jiný, pokud opravdu nevíte, co děláte. 
</p>