<h3>Ověřovací heslo</h3>
<p>
Pokud server, na kterém běží Elasticsearch vyžaduje k HTTP přístupu uživatelské jméno a heslo, pak zde můžete nastavit <strong>heslo</strong>. 
</p>
<p>
<strong>Poznámka:</strong>
Samotné jádro softwaru Elasticsearch nepodporuje používání přihlašovacího jména a hesla. Tuto funkcionalitu můžete zprovoznit použitím vhodného pluginu nebo přístupem přes proxy. 
</p>
<p>
Tato změna nemůže být provedena přímo přes webové rozhraní. Je potřeba změnit hodnotu následující proměnné v souboru config.php: 
</p>
<p>
<code>$cfg->plugin->search->elasticsearch->password</code>.
</p>