<h3>Automaticky zakládat profily v Mahaře</h3>
<p>
Uživatelům, kteří úspešně prokáží oprávnění k přístupu, ale zatím nejsou uživateli Mahary se automaticky založí účet.
</p>
<p>Uživatelské jméno bude jejich e-mailová adresa.</p>
