<h3>Mé cíle</h3>
<p>Záložka Mé cíle je rozdělena do tří sekcí:Osobní, Vzdělávací a Profesní. Pomocí HTML editoru můžete v jednotlivých kolonkách tyto cíle popsat. Poté je můžete vložit do svých pohledů.</p>
<p>Osobní nebo profesní cíle se často uvádí v životopisech, aby měli zaměstnavatelé představu, jaká role by mohla odpovídat vašim ambicím.</p>
<p>Ve vzdělávacích cílech můžete také popsat, jaké dovednosti hodláte získat v rámci svého studijního programu.</p>
<p><strong>Upozornění:</strong> Je důležité uložit každou novou informaci pomocí tlačítka na spodní části stránky.</p>
