<h3>Správci</h3>
<p>
	Správcovský přístup umožňuje uživateli dělat na stránkách cokoliv a jít kamkoliv. Správci sice nemohou přímo vidět neveřejné stránky obyčejných uživatelů, mohou se ale v případě nutnosti přihlásit jako daný uživatel a stránky si prohlédnout. Správce stránek je pak nejvyšší funkce, která na stránkách existuje, proto byste měli být opatrní, komu tuto funkci přiřadíte.
</p>
<p>
	Abyste přiřadili uživatelům správcovský přístup, vyberte je ze seznamu 'Potenciální správci' a pak klepněte na tlačítko se šipkou směřující doprava, čímž je přssunete na seznam 'Stávající správci'. K odebrání správcovského přístupu vyberte správce ze seznamu 'Stávající správci' a klepněte na tlačítko se šipkou směřující doleva, čímž jej opět přesunete na seznam 'Potenciální správci'.
</p>
<p>
	Pokud je na stránkách více než 250 uživatelských účtů, budete muset pro vybrání určitého uživatele použít vyhledávací pole. Pro výběr více uživatelů najednou použijte klávesy Ctrl nebo Shift a klepněte do seznamu.
</p>
<p>
	V systému musí existovat alespoň jeden administrátor.
</p>