<h3>Povolené externí zdroje</h3>
<p>
	Pokud uživatel vloží do tagu &lt;iframe&gt; URL cestu ke zdroji, jejíž začátek neodpovídá žádné stránce v seznamu, bude tento zdroj při každém zobrazení stránky ignorován.  
</p>
<p>
	Abyste na vašich stránkách zabránili vkládání škodlivého obsahu pomocí tagu iframe, měli byste se snažit, aby byl URL vzor povolených stránek co nejdelší. Nicméně by měl uživatelům dovolit vkládat URL vámi preferovaných zdrojů. 
</p>
<p>
	Po přidání nové stránky bude ikona stránky odvozena od vámi vloženého jména, aby byla shodná se všemi weby stejného jména. Ikonu můžete po přidání stránky změnit klepnutím na tlačítko 'Upravit'.  
</p>
