 <h3>Hlavní stránky instituce</h3>
 <p>
 	Hlavní stránky mohou být dynamicky editovány správcem stránek. Pokud chcete upravit obsah některé stránky odlišně od výchozího nastavení, vyberte požadovanou stránku a upravte ji pomocí HTML editoru. Ujistěte se, že upravená stránka byla uložena dříve, než začnete editovat další nebo editování opustíte úplně.
 </p>
 <p>
 	Veškeré změny, které zde provedete se promítnou pouze v rámci vaší instituce. Ostatním institucím zůstane obsah nezměněný.
 </p>
 <p>
 	Pokud u nějaké stránky zaškrtnete pole "Použít výchozí", potom se členům instituce zobrazí výchozí podoba stránky definovaná správcem, ne vaše upravená verze. 
 </p>