<h3>Instituce</h3>
<p>
	Na této stránce můžete upravovat a zakládat nové instituce přidružené k vašemu webu. Instituce můžete chápat jako uzavřené skupiny uživatelů se svými vlastními administrátory a zaměstnanci. Správce stránek se tak věnuje pouze chodu samotného webu.  
</p>