<h3>Upozornění pro správce</h3> <p>Stránka "Upozornění pro správce" obsahuje seznam uživatelů se správcovskými právy a jejich nastavení upozornění pro správce. Vždy by měl existovat alespoň jeden správce přijímající každý každý druh upozornění.</p>