<h3>Odkazy a zdroje</h3> <p>V rámci vaší instalace je možné mít nabídku "Odkazy a zdroje" jak pro veřejnost, tak pro přihlášené uživatele. Tato nabídka je zobrazena téměř na všech stránkách, a umožňuje odkazovat na užitečné či důležité stránky a dokumenty.</p>