<h3>Nastavení stránek</h3> <p>Hlavní stránky  Mahary mohou být dynamicky editovány správcem stránek. Pokud chcete upravit některou stránku odlišně od výchozího nastavení, vyberte stránku, kterou chcete změnit a upravte ji pomocí HTML editoru. Ujistěte se, že upravená stránka byla uložena dříve, než načtete další stránku pro editaci nebo opustíte editování.
</p>
<p>Pro členy institucí může být toto nastavení potlačeno administrátorem dané instituce, když zvolí jiné nastavení příslušných stránek dle svého uvážení.</p>