<h3>Pozastavení uživatelé a uživatelé s vypršelou platností registrace</h3> <p>Zaškrtnutím pole napravo od informací o uživateli zvolte jednoho nebo více uživatelů. Potom použijte odpovídající tlačítko k povolení, odstranění nebo prodloužení platnosti registrace uživatelů.</p>