<h3>Vyhledat uživatele</h3> <p>Vyhledávání uživatelů v administrační sekci pracuje stejným způsobem jako vyhledávání na stránkách. Správci ale navíc vidí, do které instituce uživatel náleží, a mohou vyhledané uživatele pozastavit.</p>