<h3>Odeslané</h3> <p>Toto je seznam systémových aktivit nebo upozornění, které byly vytvořeny vámi. Jakmile jste upozornění přečtel(a), můžete jej označit k odstranění z vašeho seznamu./p> <p><strong>Upozornění:</strong> Vnitřní upozornění ze sekce "Odeslané" nelze smazat.</p>