<h3>Upravit obsah stránky</h3>
<p>
	Tím, že si sami navrhnete rozvržení vaší stránky, si můžete přispůsobit styl, jakým budou vaše texty a soubory zobrazeny. Pokud  například chcete zobrazit pouze jeden příspěvek z vašeho deníku, klikněte na závožku 'Deníky' a přetáhněte blok 'Příspěvku z deníku' do pole stránky.
</p>
<p>
	To, jak stránka po přidání různých prvků vypadá, můžete kontrolovat klepnutím na panel "Zobrazit stránku". Pro návrat stačí opět klepnout na panel "Upravit obsah".
</p>