<h3>Upravit titulek a popis stránky</h3>
<p>Vaše stránka by měla dostat jedinečný název, abyste ji později snadno našli. Popisek může pomoci vaší rychlejší orientaci na stránce přehedu, kde díky něj zjistíte, proč jste danou stránku vytvořili.
</p>
<p>
	Dále máte k dispozici štítky, které vám pomohou procházet vaše portfolio na základě klíčových slov.
</p>