<h3>Upravit přístup na stránky</h3>
<p>
	Zde můžete určit kdo a kdy bude mít přístup na vaší stránku. Ve výchozím nastavení jsou stránky a sbírky přístupné pouze vám. Můžete je však sdílet s veřejností, přihlášenými uživateli, vašimi institucemi a skupinami přátel tím, že kliknete na příslušné tlačítko 'Přidat'. Pomocí vyhledávacího nástroje můžete přístup přidělit i jednotlivým skupinám a uživatelům.
</p>
<p>
	Nastavení data přístupu vám umožní zobrazovat vaši stránku jen po určitou dobu. Může to být akademický rok, harmonogram projektu nebo i jediný den. Všechna data jsou volitelná. Jednotliví uživatelé mohou mít přidělený přístup v několika přistupových pravidlech. 
</p>
<p> <strong>Příklad:</strong>
	Karel je členem skupiny "Klub mazáků". Pokud nastavíte Karlovi přístup na svou stránku na dnešek a skupině "Klub mazáků" na zítřek, bude mít Karel možnost navštívit vaši stránku v oba dva dny. 
</p>