<h3>Změnit rozvržení stránky</h3> <p>Tento editor je velmi flexibilní - umožňuje nastavit vaše rozvržení jak do sloupců, tak do řádků. Je na vás, kolik sloupců má mít který řádek. Také rozhodujete, jak se mají řádky lišit. Aktuálně máte k dispozici celkem až pět řádků.</p>