 <h3>Přístup veřejnosti na stránku</h3>
 <p>Přístup veřejnosti na stránky byl zakázán.</p>
 <p>
 	Pokud správce v budoucnu opět povolí veřejný přístup, vaše stránka se automaticky stane znovu veřejnou. Pokud to takto nechcete, odeberte veřejný přístup ze seznamu dole. Zpět do seznamu ho však budete moci dát až po tom, co veřejný přístup vaše instituce povolí.
 </p>