<h3>Tajné adresy URL</h3>
<p>
	Pokud nechcete, aby byla vaše stránka portfolia dostupná komukoliv z veřejnosti, ale zároveň ji chcete ukázát několika lidem, kteří zde nejsou registrováni, můžete tak učinit přes speciální odkaz. Tento odkaz lze jen těžko odhadnout a po jeho poskytnutí (např. zasláním e-mailem) umožní vybraným lidem obsah zobrazit.   
</p>