<h3>Připojit soubory</h3> <p>Pokud si přejete připojit soubor aktuálně uložený mezi vašimi soubory na Mahaře k vašemu záznamu do deníku, můžete jej dohledat ve vašem úložišti./p> <p>Projděte vaši strukturu složek a souborů a vyberte požadovaný soubor/soubory.</p> <p>Můžete také nahrát nový soubor z vašeho počítače. V takovém případě bude umístěn do sekce s vašimi soubory a zároveň rovnou připojen k danému záznamu.</p>
