<h3>Nahrát soubor</h3>
<p>K blogovému příspěvku můžete připojit libovolný počet souborů. Soubory připojené k příspěvku jsou automaticky ukládány ve vašem úložišti souborů ve složce nazvané "blogfiles" a počítají se do kvóty uložených souborů.</p>
<p>Jestliže nahrajete soubor a poté příspěvek zrušíte nebo zavřete okno blogu bez uložení, tento soubor bude odstraněn i z vašeho úložiště souborů.</p>
<p>Jestliže nahrajete k příspěvku obrázek, můžete použít tlačítko Obrázek v HTML editoru a obrázek do příspěvku vložit. Budete moci určit velikost, pozici v textu, okraj i prostor kolem obrázku za pomocí nabízených políček.</p>
<p>Obrázek můžete vložit také jako odkaz z jiné webové stránky. Můžete buď vložit URL daného obrázku nebo ho "drag and drop" z webové stránky do HTML editoru. Přesvědčte se, prosím, zda máte oprávnění s daným obrázkem nakládat.</p>
<p>Nejlepších výsledků docílíte, když obrázek nepřesáhne rozměr 400x400 pixelů a bude mít okraje široké méně než 5 pixelů.</p>
