<h3>Stránky sbírky</h3>
<p>
	Zde můžete přidávat do své sbírky stránky a určit pořadí, ve kterém se budou tyto stránky v navigaci sbírky zobrazovat. 
</p>
<p>
	Po přidání stránky do sbírky, budou přístupová práva přiřazená k této stránce aplikována na celou sbírku. 
</p>