 <h3>Obsah anotace pouze ke čtení</h3> <p>U této anotace již nemůžete dělat změny, protože u ní již někdo jiný zanechal zpětnou vazbu. Pokud chcete anotaci změnit, bude třeba ji smazat a začít znovu.</p>