<h3>Vyhledávání uživatelů pro administrátory</h3> <p>Vybetre, které položky z uživatelských profilů mají být zobrazovány v rámci seznamu pro vyhledávání uživatelů administrátory.</p> <p>Jméno, příjmení, e-mailová adresa a jméno pro zobrazení budou zobrazeny vždy.</p>